body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.form1{  
	width: 25%;  
	overflow: hidden;  
	margin: auto;  
	padding: 3%;  
	background: #23463f;  
	border-radius: 15px ;  
	  
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
p{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname, #Pass, #Pass2, #first_name, #last_name, #add1, #add2, #city, #tele, #mobile{  
    width: 100%;  
    height: 3.2%;  
    border: none;  
    border-radius: 3px;   
}  

#submit{  
    width: 100%;  
    height: 3.2%;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}  


#res {

    float: right;

    background: rgb(183, 225, 233);

    padding: 2%;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;
	
}

#res:hover{

    opacity: .7;

}


#ul1 {
	list-style-type: none;
	margin: 0;
	padding : 0;
	overflow: hidden;
	background-color:#23463f;
}

.li1{
	float: left;
}

.li1 .a1 {
	display: block;
	color: #FEFEFE;
	font-size: 1em;
	text-align: center;
	padding: 1.5em 2.5em;
	text-decoration: none;
}

header, .li1 .a1:hover{
	background-color: rgb(183, 225, 233);
}


footer {
	margin-top: 5%;
	bottom:0;
	background-color: #23463f;
	text-align: center;
	color: #FEFEFE;
	display: inline-block;
	width: 100vw;

}